<!DOCTYPE html>
<html lang="en">
<head>
    <title>BDM Customer Point Viewer (beta)</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="tvcheck.js"></script>
</head>
<body>
    <img id = "logo" src = "images/logo.png">

    <div id = "middle">
        <h1>Points Viewer (Beta)</h1>
        <div class = "Customer Points">

            <form name="sform" method="post" action="/">
                <input id ="searchbox" type="text" name="search" placeholder="Account Code...">    
            </form>

            <div id = "content">
                <div id = "titles">
                    <p>Account Code: </p>
                    <p>Name: </p>
                    <p>Rewards: </p>
                    <p>DSP: </p>
                    <p>BDF: </p>
                    <P>Rewards to DSP:</p>
                    <p>Digital Signage:</p>
                </div>

                <div id = "results"></div>
            </div>
        </div>

        <div id = "Loading"></div>
    </div>

    <div id = "bottom"> 
        <table id = "spreadsheet">
            <tr>
              <th>Account Code</th>
              <th>Name</th>
              <th>Rewards</th>
              <th>DSP</th>
              <th>BDF</th>
            </tr>
            <tr>
              <td>TBE</td>
              <td>T.B.E. Motor Services</td>
              <td>26380</td>
              <td>8,823</td>
              <td>£496.35</td>
            </tr> 
          </table>
    </div>
    <div id = "contact">
        <p>Please Report any bugs to: matthew.levin@oaktyres.co.uk</p>
    </div>

    <script>
        function myFunction() {
            var searchvalue = document.getElementById("searchbox").value
            console.log(searchvalue);
            console.log("CONTACTING API");
            document.getElementById('Loading').innerHTML = "<h1>" + "Contacting API Please Wait..." + "</h1>";
            document.getElementById("searchbox").disabled = true;
            document.getElementById("results").innerHTML = "";
        }

        var response = {{& response}}{{^response}}null{{/response}};
        console.log(response);

        if (response != null) {
            (function (arr) {
                console.log("Doing something");

                document.getElementById("searchbox").disabled = false; 
                document.getElementById('Loading').innerHTML = '';

                var div = document.getElementById('results');

                text0 = document.createTextNode(arr.accountCode); // 1
                text1 = document.createTextNode(arr.name); // 2
                text2 = document.createTextNode(arr.rewardPoints.toLocaleString('EUR'));
                text3 = document.createTextNode(arr.dsp.toLocaleString('EUR'));
                text4 = document.createTextNode('£' + parseFloat(arr.bdf.toFixed(2)).toLocaleString('EUR'));
                var roundedre = (arr.rewardPoints.toFixed(0)) / 160 * 100;

                text5 = document.createTextNode(roundedre.toFixed(0) + ' (*exec overdraft)');
                text6 = document.createTextNode(checktv(arr.dsp) + ' (*exec overdraft)');

                  for (var i = 0; i < 7; i++){
                eval("p"+i+"=document.createElement('p')");
                eval('p'+i+".appendChild(text"+i+")");
                eval('div.appendChild(p'+i+')');
                }

            })(response); // passing var response to function
        };

        document.getElementById('searchbox').addEventListener('keypress', function(event) {
            if (event.keyCode === 13) {
                document.sform.submit();
            }
        });
    </script>
</body>
</html>